.card{
  margin: 1em;
}
mat-form-field {
  margin-right: 12px;
}
.subname{
  font-size: 12px;
  margin-left: -6.5px;
}
.cards--lang{
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media screen and (max-width: 590px) {
  .cards--lang{
    display: flex;
    flex-wrap: wrap;
  }
}
.card--lang{
  margin: .5em;
  width: 310px;
  border-radius:  3px;
  cursor: pointer;
  text-align: center;
  background: darkorange;

}

.card--lang *{
  color: #eee;
  font-size: 15px;
  font-family: roboto;
  margin: 0;
}
