
<section class="inBottom responsiveCard inOut" *ngIf="spinner.off">
    <mat-spinner color="warn"></mat-spinner>
</section>

<section class="inBottom responsiveCard inOut" *ngIf="spinner2.off">
    <mat-spinner color="warn"></mat-spinner>
</section>

<section class="inBottom responsiveCard inOut" *ngIf="spinner3.off">
    <mat-spinner color="warn"></mat-spinner>
</section>
<!--
<section class="inBottom responsiveCard inOut" *ngIf="spinner4.off">
    <mat-spinner color="warn"></mat-spinner>
</section> -->
<div class="alert--await inBottom min" >
  Languages
</div>


<section class="cards--lang">

  <div class="card--lang inBottom" matRipple matRippleColor="rgba(80%, 10%, 0%, 50%)" *ngFor="let language of allLanguages"  (click)="goToRegion(language.subname)">
      <h1>{{language.name}}</h1>
  </div>

</section>



<div class="alert--await inBottom min" >
  Continent
</div>




<section  class=" responsiveCard">

  <article class="card inBottom" matRipple matRippleColor="rgba(80%, 10%, 0%, 50%)" *ngFor="let continent of allContinent" (click)="goToRegion(continent.redirect)">
    <div class="theme--orange sizecard" >
      <p>{{continent.name}}</p>
    </div>

    <img src="assets/continent/{{continent.image}}" alt="image region" class="card--img">
  </article>


</section>




<div class="alert--await inBottom min" >
  Region
</div>

<section  class=" responsiveCard">

  <article class="card inBottom" matRipple matRippleColor="rgba(80%, 10%, 0%, 50%)" *ngFor="let region of allRegion" (click)="goToRegion(region.redirect)">
    <div class="theme--orange sizecard" >
      <p>{{region.name}} <i class="subname">({{region.subname}})</i></p>
    </div>

    <img src="assets/imgExplore/{{region.image}}" alt="image region" class="card--img">
  </article>


</section>

  <div class="alert--await inBottom min">
  By code
</div>

 <section  class=" responsiveCard">

  <article class="card inBottom" matRipple matRippleColor="rgba(80%, 10%, 0%, 80%)"  (click)="goToCode()">
    <div class="theme--orange sizecard" >
      <p>By code</p>
    </div>

    <img src="assets/imgExplore/phone.png" alt="image region" class="minmin">
  </article>


</section>
