.card{
  margin: 1em;
}
mat-form-field {
  margin-right: 12px;
}
.card--img{
  max-width: 500px;
}
.card--explore{
  height: 60px;
  width: 99%;
  border-radius: 3px;
  background-color: orangered;
}
.subname{
  font-size: 12px;
  margin-left: -6.5px;
}
.cards--lang{
  display: grid;
  grid-template-columns: 317px 317px 317px;
  grid-column-gap: 8px;
  grid-row-gap: 0;
  grid-template-rows: 80px 80px;
  grid-auto-flow: dense;
  align-items: stretch;
  justify-content: center;

}
@media screen and (max-width: 910px) {
  .cards--lang{
    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
    justify-content: center;
    line-height: 30px;
  }
}
.card--lang{
  margin: .1em 0;
  /* width: 310px; */
  border-radius:  3px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: darkorange;

}

.card--lang *{
  color: #eee;
  align-items: center;
  font-size: 15px;
  font-family: roboto;
  margin: 0;
  padding:0;
}


.minimum{
  width: 20px;
  margin: .3em;
}
