




<section class="inBottom responsiveCard" *ngIf="spinner2.off">
    <mat-spinner color="warn"></mat-spinner>
</section>
<section  class=" responsiveCard">

  <article class="card inBottom" matRipple *ngFor="let continent of allContinent">
    <div class="theme--orange sizecard" >
      <p>{{continent.name}}</p>
    </div>

    <img src="assets/continent/{{continent.image}}" alt="image region" class="card--img">
  </article>


</section>



<section  class=" responsiveCard">

  <article class="card inBottom" matRipple *ngFor="let region of allRegion" (click)="goToRegion(region.redirect)">
    <div class="theme--orange sizecard" >
      <p>{{region.name}} <i class="subname">({{region.subname}})</i></p>
    </div>

    <img src="assets/imgExplore/{{region.image}}" alt="image region" class="card--img">
  </article>


</section>


<section class="inBottom responsiveCard" *ngIf="spinner.off">
    <mat-spinner color="warn"></mat-spinner>
</section>
