

<br>
<br>
<br>

<section class=" inBottom in responsive inOut" *ngIf="spinner.off">
    <mat-spinner></mat-spinner>
</section>

<section class="in responsiveCard ">

  <div class="card inBottom" matRipple="rgba(0%, 0%, 100%, 10%)" *ngFor="let card of countriesAll">
    <div class="theme--blue-dark" style="width: 289px;  height=289px">
        <p>{{ card.name }}</p>
    </div>

        <img src={{card.flag}} alt="photo country" class="cardImage inBottom" style="width: 293px">

  </div>

</section>
