.resetIcon{
  margin:0;
  padding:0;
}

.minim{
  width: 200px
}

.btn--search{
  background-color: #eee;
  color: #333;
}

.responsiveCard{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card--img{
  height: 200px;
}
.inOut{
  animation : outing 1s linear;
}

@keyframes outing {
  from {
    transform: scale(0);
  }
    to{
      transform: scale(1);
    }
}
