.resetIcon{
  margin:0;
  padding:0;
}

.minim{
  width: 200px
}

.btn--search{
  background-color: #eee;
  color: #333;
}
.mat-list-item{
  color: #222;
}
.responsiveCard{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
 
.buttonBack{
  margin-bottom: -1em;
}
.card--img{
  height: 200px;
  
}
.inOut{
  animation : outing 1s linear;
  transform: scale(0);
}

@keyframes outing {
  from {
    transform: scale(0);
  }
    to{
      transform: scale(.4);
    }
}
