.init--container{
  position: fixed;
  top:0;
  padding-top: 3em;
  width: 100vw;
  padding-left: -9px;
  overflow: hidden;
  height: 100%;
  background-color: darkblue;
}

.img--svg{
  transform: scale(.8);
  width: 800px;
  max-width: 800px;
  margin-left: -20px;
}
