
 
<div class="responsive" *ngIf="!spinner.off">

  <section  class="only--cards" >

    <article class="card--only in" *ngFor="let country of inform"  >
      <div class="">
        <p class="only--title">{{country.name}}</p>
      </div>

      <img src={{country.flag}} alt="image region" class="img--only">
      

      <mat-list role="list">


        <div class="separateFlex" *ngIf="country.nativeName">
          <mat-list-item role="listitem">Native name</mat-list-item>
          <mat-list-item role="listitem">{{country.nativeName}}</mat-list-item>
           
       </div>
       <div class="divider" *ngIf="country.nativeName"></div>


        <div class="separateFlex" *ngIf="country.capital">
            <mat-list-item role="listitem">Capital</mat-list-item>
            <mat-list-item role="listitem">{{country.capital}}</mat-list-item>
             
         </div>
         <div class="divider" *ngIf="country.capital"></div>

         <div class="separateFlex" *ngIf="country.region">
          <mat-list-item role="listitem">Region</mat-list-item>
          <mat-list-item role="listitem">{{country.region}}</mat-list-item>
        </div>
      <div class="divider" *ngIf="country.region"></div>

         

         <div class="separateFlex" *ngIf="country.subregion">
            <mat-list-item role="listitem">Subregion</mat-list-item>
            <mat-list-item role="listitem">{{country.subregion}}</mat-list-item>
        </div>
        <div class="divider" *ngIf="country.subregion"></div>


        <div class="separateFlex" *ngIf="country.area">
          <mat-list-item role="listitem">Area</mat-list-item>
          <mat-list-item role="listitem">{{country.area}}</mat-list-item>
        </div>
      <div class="divider" *ngIf="country.area"></div>


        <div class="separateFlex" *ngIf="country.callingCodes">
          <mat-list-item role="listitem">Calling code</mat-list-item>
          <mat-list-item role="listitem">+{{country.callingCodes[0]}}</mat-list-item>
      </div>
      <div class="divider" *ngIf="country.callingCodes"></div>


      <div class="separateFlex" *ngIf="country.numericCode">
        <mat-list-item role="listitem">Numeric code</mat-list-item>
        <mat-list-item role="listitem">{{country.numericCode}}</mat-list-item>
      </div>
    <div class="divider" *ngIf="country.numericCode"></div>


      <div class="separateFlex" *ngIf="country.population">
        <mat-list-item role="listitem">Population</mat-list-item>
        <mat-list-item role="listitem">{{country.population | number}}</mat-list-item>
    </div>
    <div class="divider" *ngIf="country.population"></div>

      </mat-list>
    </article>



  </section>

</div>
 
  <section class=" inBottom responsive inOut" >
      <mat-spinner color="warn"></mat-spinner>
  </section>
 

 
<!---
  <section class="borders">


  <div class="card inBottom" matRipple matRippleColor="rgba(0%, 10%, 80%, 50%)" *ngFor="let border of borders" (click)="goToOnly(card.alpha2Code)">
     


    <mat-list>
      <mat-list-item  >
        <img matListAvatar src="{{card.flag}}" alt="{{ card.name}}">
        <p matLine style="color:#222">
          {{ card}}
        </p>
      </mat-list-item>
  
    </mat-list>
   

  </div>
  </section>
-->
