
 
<div class="responsive" *ngIf="!spinner.off">

  <section  class="only--cards" >

    <article class="card--only in" *ngFor="let country of inform"  >
      <div class="">
        <p class="only--title">{{country.name}}</p>
      </div>

      <img src={{country.flag}} alt="image region" class="img--only">
      

      <mat-list role="list">
        <mat-list-item role="listitem">{{country.capital}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">{{country.subregion}}</mat-list-item>
        <mat-divider></mat-divider> 
      </mat-list>
    </article>



  </section>

</div>
 
  <section class=" inBottom responsive inOut" >
      <mat-spinner color="warn"></mat-spinner>
  </section>
 

 