<div class="menu--dark-blue contentLeft" id="menu">
  <li matTooltip="Home"><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/home']" >Home<i class="fas fa-home"></i></a></li>
  <li matTooltip="Explore"><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/explore']" >Explore <i class="fas fa-map"> </i> </a></li>
  <li matTooltip="Search"><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/search']" >Search <i class=" fas fa-search"> </i> </a></li>
  <li matTooltip="All"><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/all']" >All<i class="fab fa-squarespace"></i></a></li>
  <li matTooltip="About"><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/about']" >About <i class="fas fa-pager"></i></a></li>
</div>
<div class="theme--dark-blue" id="theme">
  <p class="inTop" id="idTheme">Countries</p>
</div>

<router-outlet></router-outlet>
