<div class="menu--blue-dark">
  <li ><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/home']" >Home<i class="fas fa-home"></i></a></li>
  <li ><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/search']" >Search <i class=" fas fa-search"> </i> </a></li>
  <li ><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/all']" >All<i class="fab fa-squarespace"></i></a></li>
  <li ><a class="inTop" [routerLinkActive]="['active']" [routerLink]="['/about']" >About</a></li>
</div>
<div class="theme--blue-dark">
  <p class="inTop">Countries</p>
</div>

<router-outlet></router-outlet>
