

<div class="responsive resetIcon">
    <p class="text--white resetIcon letter2">Search <i class="fas fa-search letter2"> </i></p>
</div>

<section class="sectionSearch inBottom" >

  <div class="form">
    <input [value]="form.value" #data (keyup)="keyupSearch(data.value) "type="text" class="large"  placeholder="country name" >

  </div>

</section>

<section class=" inBottom in responsive" *ngIf="spinner.off">
    <mat-spinner></mat-spinner>
</section>

<div class="alert--success inBottom min" *ngIf="items && !spinner.off">
  Results {{ items.length }} <i class="fas fa-check-circle resetIcon inLeft"></i>
</div>

<br>
<br>
<section class="responsiveCard">

  <div class="card inBottom" matRipple="rgba(0%, 0%, 100%, 20%)" *ngFor="let card of items">

    <article class="theme--blue-dark" style="width: 289px;">
        <p>{{ card.name }}</p>
    </article>

    <img  style="width: 289px; height=289px" src={{card.flag}} alt="photo country" class="cardImage inBottom" style="width: 293px">

  </div>


</section>

<div class="responsiveCard inBottom" *ngIf="!form.value && !spinner.off">
  <button type="button" mat-flat-button class="btn--white" name="button">Explore <i class="fas fa-ellipsis-h"></i></button>
</div>
