



<section class="sectionSearch inBottom" >

  <div class="form">
    <input [value]="form.value" #data (keyup)="keyupSearch(data.value) "type="text" class="large"  placeholder="country name" >

  </div>

</section>

<section class=" inBottom in responsive inOut" *ngIf="spinner.off">
    <mat-spinner></mat-spinner>
</section>

<div class="btn--white inBottom min" *ngIf="form.value && !spinner.off">
  Results {{ items.length }} <i class="fas fa-check-circle resetIcon inLeft"></i>
</div>

<br>
<br>
<section class="responsiveCard">

  <div class="card inBottom " matRipple matRippleColor="rgba(0%, 10%, 80%, 50%)" *ngFor="let card of items" (click)="goToOnly(card.alpha2Code)">
 

    <mat-list>
      <mat-list-item  >
        <img matListAvatar src="{{card.flag}}" alt="{{ card.name}}">
        <p matLine style="color:#222">
          {{ card.name}}
        </p>
      </mat-list-item>
  
    </mat-list>
   
  </div>


</section>

<div class="responsiveCard inBottom" *ngIf="!form.value || spinner.off" >
  <button (click)="goExplore()" type="button" mat-flat-button matRipple  matRippleColor="rgba(0%, 10%, 80%, 30%)" class="btn--white" name="button">Explore <i class="fas fa-ellipsis-h"></i></button>
</div>
