
<div class="responsiveCard">
  <h1 class="letter2 text--red">Choose by language</h1>
</div>

<section class=" inBottom responsive inOut" *ngIf="spinner.off">
    <mat-spinner></mat-spinner>
</section>


<section *ngIf="!spinner.off" class="inBottom responsiveCard">

  <article class="choose" matRipple matRippleColor="rgba(0%, 10%, 80%, 50%)" (click)="toUs()">
    <div class=" sizecard" >
      <p>US</p>
    </div>

  </article>

  <article class="choose" matRipple matRippleColor="rgba(0%, 10%, 80%, 50%)" (click)="toEs()">
    <div class="sizecard" >
      <p>ES</p>
    </div>

  </article>



</section>



  <div class="responsiveCard inBottom" *ngIf="!spinner.off">
    <button (click)="goExplore()" type="button" mat-flat-button name="button">More <i class="fas fa-ellipsis-h"></i></button>
  </div>
