


<section class=" inBottom responsive" *ngIf="spinner.off">
    <mat-spinner></mat-spinner>
</section>


<section *ngIf="!spinner.off" class="inBottom responsiveCard">

  <article class="card" matRipple >
    <div class="theme--red sizecard" >
      <p>US</p>
    </div>
    <img src="assets/band/us.webp" alt="US" class="card--img">
  </article>

  <article class="card" matRipple >
    <div class="theme--red sizecard" >
      <p>ES</p>
    </div>
    <img src="assets/band/es.png" alt="ES" class="card--img">
  </article>


  <div class="responsiveCard " >
    <button (click)="goExplore()" type="button" mat-flat-button class="btn--white" name="button">More <i class="fas fa-ellipsis-h"></i></button>
  </div>


</section>
